<% if @profile.errors.any? %>
  <% @profile.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h1>Edit <%= @profile.username %>'s Profile</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_profile/<%= @profile.id %>" class="form-horizontal">

 <div class="form-group">
            <label for="username" class="col-sm-2 control-label">
              Username
            </label>
           <div class="col-sm-10">
              <input type="text" id="username" name="username" placeholder="Username" class="form-control" value="<%= @profile.username %>">
            </div>
          </div>

          <!-- Label and input for email -->
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">
              Email
            </label>
            <div class="col-sm-10">
              <input type="text" id="email" name="email" placeholder="Email" class="form-control" value="<%= @profile.email %>">
            </div>
          </div>

      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="col-sm-2 control-label">
          Picture
        </label>
        <div class="col-sm-10">
          <input type="text" id="image" name="image" placeholder="Change Your Profile Picture" class="form-control" value="<%= @profile.image %>">
        </div>
      </div>

      <!-- Label and input for high_school -->
      <div class="form-group">
        <label for="high_school" class="col-sm-2 control-label">
          High school
        </label>
        <div class="col-sm-10">
          <input type="text" id="high_school" name="high_school" placeholder="High school" class="form-control" value="<%= @profile.high_school %>">
        </div>
      </div>

      <!-- Label and input for GPA -->
      <div class="form-group">
        <label for="GPA" class="col-sm-2 control-label">
          GPA
        </label>
        <div class="col-sm-10">
          <input type="text" id="GPA" name="GPA" placeholder="Enter Your GPA" class="form-control" value="<%= @profile.GPA %>">
        </div>
      </div>

      <!-- Label and input for SAT -->
      <div class="form-group">
        <label for="SAT" class="col-sm-2 control-label">
          SAT
        </label>
        <div class="col-sm-10">
          <input type="text" id="SAT" name="SAT" placeholder="Enter Your SAT Score" class="form-control" value="<%= @profile.SAT %>">
        </div>
      </div>

      <!-- Label and input for ACT -->
      <div class="form-group">
        <label for="ACT" class="col-sm-2 control-label">
          ACT
        </label>
        <div class="col-sm-10">
          <input type="text" id="ACT" name="ACT" placeholder="Enter Your ACT Score" class="form-control" value="<%= @profile.ACT %>">
        </div>
      </div>

      <!-- Label and input for Extras -->
      <div class="form-group">
        <label for="Extras" class="col-sm-2 control-label">
          Extracurriculars
        </label>
        <div class="col-sm-10">
          <textarea id="Extras" name="Extras" placeholder="Extras" class="form-control" rows="3"><%= @profile.Extras %></textarea>
        </div>
      </div>

      <!-- School Preferences  -->

      <H3>SUMBIT YOUR SCHOOL PREFERENCES</H3>

 <!-- Label and input for region -->
      <!--<div class="form-group">
        <label for="region" class="col-sm-2 control-label">
          Region
        </label>
        <div class="col-sm-10">
          <input type="text" id="region" name="region" placeholder="Region" class="form-control" value="<%= @profile.region %>">
        </div>
      </div>-->
  <div class="form-group">
    <label for="region" class="col-sm-2 control-label">
       Region
    </label>
      <div class="col-lg-10">
        <select class="form-control" id="select" name="region">
          <option>-</option>
          <option>Northeast</option>
          <option>South</option>
          <option>Midwest</option>
          <option>West</option>
        </select>
      </div>
   </div>

      <!-- Label and input for school_size -->
      <!--<div class="form-group">
        <label for="school_size" class="col-sm-2 control-label">
          School size
        </label>
        <div class="col-sm-10">
          <input type="text" id="school_size" name="school_size" placeholder="School size" class="form-control" value="<%= @profile.school_size %>">
        </div>
      </div>-->

      <div class="form-group">
      <label for="select" class="col-lg-2 control-label">School Size</label>
      <div class="col-lg-10">
        <select class="form-control" id="select" name="school_size" value="<%= @profile.school_size %>">
          <option>-</option>
          <option>Small (less than 5,000)</option>
          <option>Medium (5,000 to 10,000)</option>
          <option>Large (10,000+)</option>
        </select>
      </div>
    </div>

      <!-- Label and input for rank -->
     <!-- <div class="form-group">
        <label for="rank" class="col-sm-2 control-label">
          Rank
        </label>
        <div class="col-sm-10">
          <input type="text" id="rank" name="rank" placeholder="Rank" class="form-control" value="<%= @profile.rank %>">
        </div>
      </div>-->

<div class="form-group">
      <label for="select" class="col-lg-2 control-label">School Rank</label>
      <div class="col-lg-10">
        <select class="form-control" id="select" name="rank">
          <option>-</option>
          <option>Top 20</option>
          <option>Top 50</option>
          <option>Top 100</option>
        </select>
      </div>
    </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" value="Update Profile" class="btn btn-primary">
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Profile #<%= @profile.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_profile/<%= @profile.id %>" class="form-horizontal">
          <!-- Label and input for username -->
          <div class="form-group">
            <label for="username" class="col-sm-2 control-label">
              Username
            </label>
            <div class="col-sm-10">
              <input type="text" id="username" name="username" placeholder="Username" class="form-control" value="<%= @profile.username %>">
            </div>
          </div>

          <!-- Label and input for email -->
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">
              Email
            </label>
            <div class="col-sm-10">
              <input type="text" id="email" name="email" placeholder="Email" class="form-control" value="<%= @profile.email %>">
            </div>
          </div>

          <!-- Label and input for image -->
          <div class="form-group">
            <label for="image" class="col-sm-2 control-label">
              Image
            </label>
            <div class="col-sm-10">
              <input type="text" id="image" name="image" placeholder="Image" class="form-control" value="<%= @profile.image %>">
            </div>
          </div>

          <!-- Label and input for high_school -->
          <div class="form-group">
            <label for="high_school" class="col-sm-2 control-label">
              High school
            </label>
            <div class="col-sm-10">
              <input type="text" id="high_school" name="high_school" placeholder="High school" class="form-control" value="<%= @profile.high_school %>">
            </div>
          </div>

          <!-- Label and input for GPA -->
          <div class="form-group">
            <label for="GPA" class="col-sm-2 control-label">
              Gpa
            </label>
            <div class="col-sm-10">
              <input type="text" id="GPA" name="GPA" placeholder="Gpa" class="form-control" value="<%= @profile.GPA %>">
            </div>
          </div>

          <!-- Label and input for SAT -->
          <div class="form-group">
            <label for="SAT" class="col-sm-2 control-label">
              Sat
            </label>
            <div class="col-sm-10">
              <input type="text" id="SAT" name="SAT" placeholder="Sat" class="form-control" value="<%= @profile.SAT %>">
            </div>
          </div>

          <!-- Label and input for ACT -->
          <div class="form-group">
            <label for="ACT" class="col-sm-2 control-label">
              Act
            </label>
            <div class="col-sm-10">
              <input type="text" id="ACT" name="ACT" placeholder="Act" class="form-control" value="<%= @profile.ACT %>">
            </div>
          </div>

          <!-- Label and input for Extras -->
          <div class="form-group">
            <label for="Extras" class="col-sm-2 control-label">
              Extras
            </label>
            <div class="col-sm-10">
              <textarea id="Extras" name="Extras" placeholder="Extras" class="form-control" rows="3"><%= @profile.Extras %></textarea>
            </div>
          </div>

          <!-- Label and input for school_size -->
          <div class="form-group">
            <label for="school_size" class="col-sm-2 control-label">
              School size
            </label>
            <div class="col-sm-10">
              <input type="text" id="school_size" name="school_size" placeholder="School size" class="form-control" value="<%= @profile.school_size %>">
            </div>
          </div>

          <!-- Label and input for region -->
          <div class="form-group">
            <label for="region" class="col-sm-2 control-label">
              Region
            </label>
            <div class="col-sm-10">
              <input type="text" id="region" name="region" placeholder="Region" class="form-control" value="<%= @profile.region %>">
            </div>
          </div>

          <!-- Label and input for rank -->
          <div class="form-group">
            <label for="rank" class="col-sm-2 control-label">
              Rank
            </label>
            <div class="col-sm-10">
              <input type="text" id="rank" name="rank" placeholder="Rank" class="form-control" value="<%= @profile.rank %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Update Profile" class="btn btn-primary">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
