<div class="page-header">
  <h1>Profile #<%= @profile.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Username</dt>
  <dd><%= @profile.username %></dd>

  <dt>Image</dt>
  <dd><%= @profile.image %></dd>

  <dt>High school</dt>
  <dd><%= @profile.high_school %></dd>

  <dt>GPA</dt>
  <dd><%= @profile.GPA %></dd>

  <dt>SAT</dt>
  <dd><%= @profile.SAT %></dd>

  <dt>ACT</dt>
  <dd><%= @profile.ACT %></dd>

  <dt>Extras</dt>
  <dd><%= @profile.extras %></dd>

  <dt>Size</dt>
  <dd><%= @profile.size %></dd>

  <dt>Region</dt>
  <dd><%= @profile.region_id %></dd>

  <dt>Rank</dt>
  <dd><%= @profile.rank %></dd>

</dl>
