<div class="page-header">
  <h1>Profile #<%= @profile.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Username</dt>
  <dd><%= @profile.username %></dd>

  <dt>Email</dt>
  <dd><%= @profile.email %></dd>

  <dt>Image</dt>
  <dd><%= @profile.image %></dd>

  <dt>High school</dt>
  <dd><%= @profile.high_school %></dd>

  <dt>Gpa</dt>
  <dd><%= @profile.GPA %></dd>

  <dt>Sat</dt>
  <dd><%= @profile.SAT %></dd>

  <dt>Act</dt>
  <dd><%= @profile.ACT %></dd>

  <dt>Extras</dt>
  <dd><%= @profile.Extras %></dd>

  <dt>School size</dt>
  <dd><%= @profile.school_size %></dd>

  <dt>Region</dt>
  <dd><%= @profile.region %></dd>

  <dt>Rank</dt>
  <dd><%= @profile.rank %></dd>

</dl>
