  <div class="page-header">

     <h1><%= @profile.username %></h1>
     <a href="/profiles/edit"><p class="col-md-offset-10"><i class="fa fa-pencil"></i> Edit Profile and Preferences</p></a>
  </div>

  <div class="row">
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="<%= @profile.image %>" alt="...">
    </a>
  </div>
      <div class="col-md-6">
        <d1 class="dl-horizontal">
          <dt>High School:</dt>
          <dd><%= @profile.high_school %></dd>

          <dt>GPA:</dt>
          <dd><%= @profile.GPA %></dd>

          <dt>SAT</dt>
          <dd><%= @profile.SAT %></dd>

          <dt>ACT</dt>
          <dd><%= @profile.ACT %></dd>

          <dt>Extras:</dt>
          <dd><%= @profile.Extras %></dd>
        </d1>
        </div>
      </div>

        <div class="row">
          <h4 class="col-md-6"><span class="label label-info">College Preferences</span></h4>

          <h4 class="col-md-6"><span class="label label-warning" class="col-md-6">Saved Schools</span></h4>
        </div>
        <div class="row">
            <div class="col-md-6">
              <d1 class="dl-horizontal">
                <dt>Size</dt>
                <dd><%= @profile.school_size %></dd>
                <dt>Region</dt>
                <dd><%= @profile.region %></dd>
                <dt>Rank</dt>
                <dd><%= @profile.rank %></dd>
              </d1>

              <div class="col-md-offset-2"><a href="/profiles/preference/<%= @profile.id %>"><button type="button" class="btn btn-primary">See Your Recommended Schools</button></a></div>
            </div>

            <div class="box">
              <div class="text">
              <div class="col-md-3" class="text">Stretch</div>
              </div>
              <div class="col-md-3">
                <ul>
                  <li>school 1</li>
                  <li>school 2</li>
                  <li>school 3</li>
                </ul>
              </div>
            </div>

            <div class="text">
              <div class="col-md-offset-6 col-md-3">Target</div>
            </div>

              <div class="col-md-3">
                <ul>
                  <li>school 1</li>
                  <li>school 2</li>
                  <li>school 3</li>
                </ul>
              </div>

            <div class="text">
            <div class="col-md-offset-6 col-md-3">Safe</div>
            </div>
            <div class="col-md-3">
              <ul>
                <li>school 1</li>
                <li>school 2</li>
                <li>school 3</li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>

