<div class="page-header">
  <h1>School #<%= @school.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @school.name %></dd>

  <dt>Description</dt>
  <dd><%= @school.description %></dd>

  <dt>Image</dt>
  <dd><%= @school.image %></dd>

  <dt>Location</dt>
  <dd><%= @school.location %></dd>

  <dt>Region</dt>
  <dd><%= @school.region_id %></dd>

  <dt>Region name</dt>
  <dd><%= @school.region_name %></dd>

  <dt>Size</dt>
  <dd><%= @school.size %></dd>

  <dt>Tuition</dt>
  <dd><%= @school.tuition %></dd>

  <dt>Sat</dt>
  <dd><%= @school.SAT %></dd>

  <dt>Act</dt>
  <dd><%= @school.ACT %></dd>

  <dt>Gpa</dt>
  <dd><%= @school.GPA %></dd>

  <dt>Rank</dt>
  <dd><%= @school.rank %></dd>

</dl>
