<div class="page-header">
  <h1><%= @school.name %></h1>
</div>

<dl class="dl-horizontal">

  <dt>Description</dt>
  <dd><%= @school.description %></dd>

  <dt>Image</dt>
  <dd><%= @school.image %></dd>

  <dt>Region</dt>
  <dd><%= @school.region %></dd>

  <dt>Size</dt>
  <dd><%= @school.size %></dd>

  <dt>Tuition</dt>
  <dd><%= @school.tuition %></dd>

  <dt>Acceptance rate</dt>
  <dd><%= @school.acceptance_rate %></dd>

  <dt>SAT</dt>
  <dd><%= @school.SAT %></dd>

  <dt>ACT</dt>
  <dd><%= @school.ACT %></dd>

  <dt>Gpa</dt>
  <dd><%= @school.GPA %></dd>

  <dt>Rank forbes</dt>
  <dd><%= @school.Rank_Forbes %></dd>

  <dt>Percent with financial aid</dt>
  <dd><%= @school.Percent_with_Financial_Aid %></dd>

</dl>
