<!DOCTYPE html>
<html>
<head>
<!-- Adds Bootswatch CSS  -->
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/paper/bootstrap.min.css">

  <!-- Adds Font Awesome -->
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

  <!-- Adds your custom styles -->

  <link rel="stylesheet" type="text/css" href="my_styles.css">

  <!-- Adds Bootstrap Javascript -->
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <title>College</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Creative College</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/profiles">Profile</a></li>
      <li><a href="/favorites">Favorites</a></li>
      <li><a href="/ranks">Ranks</a></li>
      <li><a href="/scores">Test Scores</a></li>
      <li><a href="/regions">Region</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">

      <form action="" class="navbar-form navbar-left">
      <input type="text" class="form-control col-lg-8" placeholder="Search Schools">
    </form>

      <li><% if profile_signed_in? %>
        <%= link_to('Logout', destroy_profile_session_path, :method => :delete) %>
        </li>
        <% else %>
          <li>
            <%= link_to('Login', new_profile_session_path)  %>
          </li>
      <% end %>

      <li><a href="/profiles/sign_up">Create an Account</a></li>
      </li>
    </ul>
  </div>
</div>
<%= yield %>

</body>
</html>
